<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div style="margin-bottom: 50px;">
            <h1>Login</h1>
        </div>
        <form action="/login" method="post">
            <div class="col-auto">
              <label for="email" class="visually-hidden">Email</label>
              <input type="text" class="form-control" placeholder="Email" name="email" id="email">
            </div>
            <div class="col-auto" style="margin-top: 5px;">
              <label for="pwd" class="visually-hidden">Password</label>
              <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary mb-3"id="ajaxsend" style="margin-top: 10px;">login</button>
            </div>
        </form>

        <div id="result"></div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <script>
        document.getElementById("ajaxsend").addEventListener('click', function() {
            let email = document.getElementById('email').value;
            let pwd = document.getElementById('pwd').value;
            sendAjax('http://localhost:3000/login', {email, pwd});
        });

        let sendAjax = (url, data) => {
            data = JSON.stringify(data);

            let xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(data);
            xhr.addEventListener('load', function() {
                // console.log(xhr.responseText);
                let result = JSON.parse(xhr.responseText);
                if(result.email) {
                    window.location.href="/main"
                    //document.getElementById('result').innerHTML = 'welcome, ' + result.email + '!';
                }else {
                    document.getElementById('result').innerHTML = result;
                }
            });
        }
    </script>
</body>
</html>